@import 'colours';

.FavouritesSort {
  width: 100%;
  padding-top: 40px;
  font-size: 1.5rem;
  
  h3 {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    width: 30%;
    padding-right: 10px;
    font-size: 1.5rem;
  }
}

.FavouritesSort__Title {
  width: 30%;
  display: inline-block;
}

.FavouritesSort__Menu {
  width: 70%;
  display: inline-block;
  text-align: right;
}

.FavouritesSort__dropdown {
  font-size: 0.8rem;
  width: 60%;
  overflow: hidden;
  padding: 8px;
  text-align: right;
  vertical-align: middle;
  display: inline-block;
  border: 1px solid $dark-grey;

  select {
    border: none;
    padding: 3px;
    box-shadow: none;
    background: transparent;
    background-image: none;
  }
}

// iphone 6
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

  .FavouritesSort__Menu,
  .FavouritesSort__Title {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;

    h3 {
      text-align: left;
      width: auto;
      font-size: 1.3rem;
    }

  }

}