@import 'colours';

.ResultsItem {
  border-bottom: 1px solid $light-grey;
  width: 100%;
  font-size: 1rem;
  padding: 22px 18px;

  button {
    font-size: 0.8rem;
    background-color: $success;
    border: 0;
    padding: 10px 20px;
    width: 20%;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
  }

  button:disabled {
    background-color: lighten($warning, 20);
  }
}

.ResultsItem__TextContent {
  width: 80%;
  display: inline-block;
  vertical-align: middle;
}

.ResultsItem__Year {
  margin-left: 6px;
  font-size: 0.8rem;
}

.ResultsItem__Title {
  font-size: 1.2rem;
  vertical-align: top;
}

.ResultsItem__imdbRating {
  font-size: 1.2rem;
  padding-top: 2px;
  vertical-align: top;
}

.ResultsItem--Loading {
  font-size: 1.1rem;
  vertical-align: top;
}
